#Projeto de automação e atualização de valores de produtos de acordo com a cotação das suas respectivas moedas.

In [2]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import pandas as px

1º Passo - Importar a base de dados dos produtos

In [3]:
tabela = px.read_excel('Produtos.xlsx')
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

2º Passo - Buscar a cotação das moedas.

In [4]:
navegador = webdriver.Chrome()
navegador.get('https://www.google.com.br/')
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação dólar')
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_dolar = navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
navegador.get('https://www.google.com.br/')
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação euro')
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_euro = navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
navegador.get('https://www.melhorcambio.com/ouro-hoje')
cotacao_ouro = navegador.find_element(By.XPATH, '//*[@id="comercial"]').get_attribute('value')

3º Passo - Atualizar a tabela com a nova cotação, preço de compra e preço de venda.

In [5]:
cotacao_ouro = cotacao_ouro.replace(',', '.')
display(tabela)
tabela.loc[tabela['Moeda']== 'Dólar', 'Cotação'] = float(cotacao_dolar)
tabela.loc[tabela['Moeda']== 'Euro', 'Cotação'] = float(cotacao_euro)
tabela.loc[tabela['Moeda']== 'Ouro', 'Cotação'] = float(cotacao_ouro)
display(tabela)
tabela['Preço de Compra'] = tabela['Preço Original'] * tabela['Cotação']
tabela['Preço de Venda'] = tabela['Preço de Compra'] * tabela['Margem']
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.2154,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,5.8975,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5.2154,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5.2154,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,5.8975,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5.2154,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,314.1700,7000.00,1.15,8050.000

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.2154,5215.347846,1.40,7301.486984
1,Carro Renault,4500.00,Euro,5.8975,26538.750000,2.00,53077.500000
2,Notebook Dell,899.99,Dólar,5.2154,4693.807846,1.70,7979.473338
3,IPhone,799.00,Dólar,5.2154,4167.104600,1.70,7084.077820
4,Carro Fiat,3000.00,Euro,5.8975,17692.500000,1.90,33615.750000
5,Celular Xiaomi,480.48,Dólar,5.2154,2505.895392,2.00,5011.790784
6,Joia 20g,20.00,Ouro,314.1700,6283.400000,1.15,7225.910000

4º - Exportar um novo arquivo de base de dados.

In [6]:
tabela.to_excel('Produtos_novo.xlsx', index=False)